@page
@model FINAL.Pages.Admin.AddPromoModel
@{
}
<div class="row">
    <div class="col-12">
        <h6 class="title">Admin Panel</h6>
        <h1>Create Promotion</h1>
        <hr />
    </div>
    <div class="col-12 col-md-12">
        <form asp-action="@Model.addPromo()">
            <div class="row">
                <div class="col-md-6">
                    <label>Promo Code</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="input-name" placeholder="Enter Code" name="input-name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="inputEmail4" onclick="generatePromoCode();">Generate</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label>Promotion Percentage:</label>
                    <div class="row">
                        <div class="input-group mb-3 col-6">
                            <input type="text" aria-label="percentage" class="form-control col-8" value="10" name="input-percentage">
                            <select class="custom-select col-4" id="inputGroupSelect01">
                                <option value="0" selected>%</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <label>Start Date</label>
                    <input type="text" class="form-control" id="datetimepicker6" name="input-start">
                </div>
                <div class='col-md-6'>
                    <label>Duration (Days)</label>
                    <input type="text" class="form-control" name="input-duration">
                </div>
            </div>
            <div class="create-btn-cont">
                <button class="btn btn-secondary" type="submit">Create</button>
            </div>
        </form>

    </div>
</div>
