@page
@model FINAL.Pages.Admin.DashboardModel
@{
    int day = DateTime.Now.DayOfYear;
}

<div class="row ">
    <div class="col-12">
        <h6 class="title">Admin Panel</h6>
        <h1>Dashboard</h1>
        <hr />

        <div class="row">
            <!-- new order start -->
            
            <!-- End active sessions -->
            <div class="col-12 shadow mb-5 bg-white rounded">
                <div class="col-12">
                    <p style="margin-top:20px;">Sales Figures for the Past 7 Days (@Classes.Utility.getDateFromDay(day - 6) - @Classes.Utility.getDateFromDay(day))</p>
                    <canvas id="myChart" width="400" height="100"></canvas>
                </div>
            </div>
            <div class="col-6 shadow p-3 mb-5 bg-white rounded no-margin">
                <p>Device Type Used in pie chart</p>
                <canvas id="device-chart" width="100px" height="200px"></canvas>
            </div>
            <div class="col-6 shadow p-3 mb-5 bg-white rounded">
                <p>Where orders are from pinpointed on a map</p>
            </div>
        </div>

    </div>

</div>  