@page
@model FINAL.Pages.Admin.MessagesModel
@{
}

<div class="row">
    <div class="col-12">
        <h6 class="title">Messages</h6>
        <h1>Settings</h1>
        <hr />
    </div>
    <div class="col-12 col-md-12">

    </div>
</div>