@page
@model FINAL.Pages.Admin.OrdersModel
@{
}

<div id="admin-page-layout" class="row">
    <div id="admin-menu" class="d-none d-md-block col-12 col-md-3 col-xl-2">
        <div class="row no-style">
            <div class="col-12 d-md-none menu-close" onclick="ToggleMenu()"><i class="fas fa-times fa-1-5x"></i></div>
            <div class="col-12 menu-stats verticle-align">
                <div class="row verticle-align">
                    <div class="col-4">
                        <p>Orders<br />106</p>
                    </div>
                    <div class="col-4">
                        <p>New<br />80</p>
                    </div>
                    <div class="col-4">
                        <p>Active<br />32</p>
                    </div>

                </div>
            </div>
        </div>
        <a href="/Admin/Dashboard">
            <div class="row admin-menu-item">
                <div class="col-2 menu-icons"><i class="fas fa-chart-line fa-2x"></i></div>
                <div class="col-10 menu-header ">
                    <h6>Dashboard</h6>

                </div>
            </div>
        </a>
        <a href="/Admin/Orders">
            <div class="row admin-menu-item">
                <div class="col-2 menu-icons"><i class="fas fa-clipboard-list fa-2x"></i></div>
                <div class="col-10 menu-header"><h6>Orders</h6></div>
            </div>
        </a>
        <a href="/Admin/Products">
            <div class="row admin-menu-item">
                <div class="col-2 menu-icons"><i class="fas fa-archive fa-2x"></i></div>
                <div class="col-10 menu-header"><h6>Products</h6></div>
            </div>
        </a>
        <a href="/Admin/Promotions">
            <div class="row admin-menu-item">
                <div class="col-2 menu-icons"><i class="fas fa-tag fa-2x"></i></div>
                <div class="col-10 menu-header"><h6>Pomotions</h6></div>
            </div>
        </a>
        <a href="/Admin/PageEdits">
            <div class="row admin-menu-item">
                <div class="col-2 menu-icons"><i class="fas fa-file-alt fa-2x"></i></div>
                <div class="col-10 menu-header"><h6>Pages</h6></div>
            </div>
        </a>
        <a href="/Admin/Messages">
            <div class="row admin-menu-item">
                <div class="col-2 menu-icons"><i class="fas fa-envelope fa-2x"></i></div>
                <div class="col-10 menu-header"><h6>Messages</h6></div>
            </div>
        </a>
        <a href="/Admin/Settings">
            <div class="row admin-menu-item">
                <div class="col-2 menu-icons"><i class="fas fa-cog fa-2x"></i></div>
                <div class="col-10 menu-header"><h6>Settings</h6></div>
            </div>
        </a>
        <div class="row admin-menu-item">
            <div class="col-2 menu-icons"><i class="fas fa-power-off fa-2x"></i></div>
            <div class="col-10 menu-header"><h6>Log Out</h6></div>
        </div>

    </div>
        <div id="admin-page" class="col-12 d-md-block col-md-9 col-xl-10">

        <!-- start of main -->
        <div class="admin-pages">
            <div class="menu-toggle d-md-none d-block" onclick="ToggleMenu()"><i class="fas fa-bars fa-1-5x"></i></div>
            <div class="row">
                <div class="col-12">
                    <h6 class="title">Admin Panel</h6>
                    <h1>Orders</h1>
                    <hr />
                </div>
                <div id="search-area" class="row col-12">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control" id="search-rows" type="text" placeholder="Search.."></div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control d-none" id="refine-search" type="text" placeholder="refined.."></div>
                </div>
                <div class="col-12 col-md-12">
                    <div id="data-header" class="row">
                        <div class="col-4 col-md-2 col-xl-2">
                            <b># Order ID</b>
                        </div>
                        <div class="d-none d-md-block col-5 col-md-4 col-xl-3">
                            Date
                        </div>
                        <div class="d-none d-md-block col-5 col-md-3 col-xl-3">
                            Order Total
                        </div>
                        <div class="d-none d-md-block col-5 col-md-3 col-xl-3">
                            Status
                        </div>
                        <div class="d-none d-md-block col-5 col-md-1 col-xl-1">

                        </div>
                    </div>
                    <!-- ******************* change all areas which say 105 to the the order ID *************** -->
                    <ul class="list-group" id="data-list">
                        <!-- order starts -->
                        <li id="data-row-105" class="admin-list">
                            <div id="summary-panel-105" class="row" onclick="OpenDetails(105);">
                                <div class="col-2 col-md-2 col-xl-2">
                                    <b>#105</b>
                                </div>
                                <div class="col-5 col-md-4 col-xl-3">
                                    02/10/2020 01:30pm
                                </div>
                                <div class="col-5 col-md-3 col-xl-3">
                                    Rs 7000
                                </div>
                                <div class="col-2 d-md-none"></div>
                                <div class="col-5 col-md-3 col-xl-3">
                                    Shipped
                                </div>
                                <div class="col-5 col-md-1 col-xl-1">
                                    Action
                                </div>

                            </div>
                            <!-- expanded start -->
                            <div id="expanded-panel-105" class="row d-none">
                                <div class="col-6">
                                    <h4>#105</h4>
                                </div>
                                <div class="col-6 admin-close-view">
                                    <span onclick="closeDetails(105)"><i class="fas fa-times fa-1-5x"></i></span>
                                </div>
                                <div class="col-12 order-date">
                                    <h6>Date:</h6> 02/10/2020 01:30pm
                                </div>
                                <div class="col-12 order-date">
                                    <h6>Name:</h6> John Williams
                                </div>
                                <div class="col-12 order-date">
                                    <h6>Shipping Address</h6>
                                    <p>1 Oak Road,<br />Port Louis, <br />Mauritius,<br />S90 2LG</p>
                                </div>
                                <div class="row col-12">
                                    <div class="col-12 col-md-8 col-xl-5">

                                        <div id="status-input-105" class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupFileAddon01">Status:</span>
                                            </div>

                                            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                                <option value="1" selected>Processing</option>
                                                <option value="2">Shipped</option>
                                                <option value="3">Delivered</option>
                                                <option value="3">Cancelled</option>
                                                <option value="3">Refunded</option>
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="panel panel-tabs">
                                        <div class="panel-item" role="presentation">
                                            <a id="panel-tab-1-105" class="panel-link active" onclick="ToggleTabs(1, 2,105)">Order Details</a>
                                        </div>
                                        <div class="panel-item" role="presentation">
                                            <a id="panel-tab-2-105" class="panel-link" onclick="ToggleTabs(2, 1,105)">Correspondence</a>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div id="tab-pane-1-105" class="tab-pane fade show active">
                                            <table class="row">
                                                <tbody class="col-12">
                                                    <tr class="row">
                                                        <th class="col">Product</th>
                                                        <th class="col">Qty</th>
                                                        <th class="col">Size</th>
                                                        <th class="col">Colour</th>
                                                        <th class="col">Amount</th>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col">Long Sleeve Dress</td>
                                                        <td class="col">1</td>
                                                        <td class="col">16</td>
                                                        <td class="col">white</td>
                                                        <td class="col">Rs 1000</td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col" colspan="5"><hr /></td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col">Long Sleeve Dress</td>
                                                        <td class="col">1</td>
                                                        <td class="col">16</td>
                                                        <td class="col">white</td>
                                                        <td class="col">Rs 1000</td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col" colspan="5"><hr /></td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col">Long Sleeve Dress</td>
                                                        <td class="col">1</td>
                                                        <td class="col">16</td>
                                                        <td class="col">white</td>
                                                        <td class="col">Rs 1000</td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col" colspan="5"><hr /></td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col">Long Sleeve Dress</td>
                                                        <td class="col">1</td>
                                                        <td class="col">16</td>
                                                        <td class="col">white</td>
                                                        <td class="col">Rs 1000</td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col" colspan="5"><hr /></td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col">Long Sleeve Dress</td>
                                                        <td class="col">1</td>
                                                        <td class="col">16</td>
                                                        <td class="col">white</td>
                                                        <td class="col">Rs 1000</td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col" colspan="5"><hr /></td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col">Long Sleeve Dress</td>
                                                        <td class="col">1</td>
                                                        <td class="col">16</td>
                                                        <td class="col">white</td>
                                                        <td class="col">Rs 1000</td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col" colspan="5"><hr /></td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col">Long Sleeve Dress</td>
                                                        <td class="col">1</td>
                                                        <td class="col">16</td>
                                                        <td class="col">white</td>
                                                        <td class="col">Rs 1000</td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col" colspan="5"><hr /></td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col"></td>
                                                        <td class="col"></td>
                                                        <td class="col"></td>
                                                        <td class="col table-total">Total:</td>
                                                        <td class="col" colspan="5">Rs 7000</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="tab-pane-2-105" class="tab-pane fade">
                                            <div id="send-message-btn" class="row col-12">
                                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#staticBackdrop">
                                                    Send Message
                                                </button>
                                            </div>
                                            <table class="row">
                                                <tbody class="col-12">
                                                    <tr class="row">
                                                        <th class="col">Date</th>
                                                        <th class="col">From</th>
                                                        <th class="col">To</th>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col">02/04/2021</td>
                                                        <td class="col">Automated</td>
                                                        <td class="col">Customer</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3"><h6>Message</h6>Your Product has now been shipped thanks for shopping with us.</td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col" colspan="5"><hr /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="row">
                                                <tbody class="col-12">
                                                    <tr class="row">
                                                        <th class="col">Date</th>
                                                        <th class="col">From</th>
                                                        <th class="col">To</th>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col">02/04/2021</td>
                                                        <td class="col">Darren</td>
                                                        <td class="col">Customer</td>

                                                    </tr>
                                                    <tr>
                                                        <td colspan="3"><h6>Message</h6>We haven't got all your order in stock, would you like us to refund the items we haven't got instock and send the rest.</td>
                                                    </tr>
                                                    <tr class="row">
                                                        <td class="col" colspan="5"><hr /></td>
                                                    </tr>
                                                    <table class="row">
                                                        <tbody class="col-12">
                                                            <tr class="row">
                                                                <th class="col">Date</th>
                                                                <th class="col">From</th>
                                                                <th class="col">To</th>
                                                            </tr>
                                                            <tr class="row">
                                                                <td class="col">02/04/2021</td>
                                                                <td class="col">Customer</td>
                                                                <td class="col">Sales</td>

                                                            </tr>
                                                            <tr>
                                                                <td colspan="3"><h6>Message</h6>Yes that would be great thanks.</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <!-- expanded end -->
                        </li>


                        <div class="row full-order-info">

                        </div>
                        <!-- order ends -->


                    </ul>

                </div>
            </div>


        </div>
        <!-- end of main -->
    </div>

</div>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>