@page
@model FINAL.Pages.Admin.ProductsModel
@{
}

    <!-- start of main -->
    <div class="admin-pages">
        <div class="menu-toggle d-md-none d-block" onclick="ToggleMenu()"><i class="fas fa-bars fa-1-5x"></i></div>
        <div class="row admin-product-page">
            <div class="col-12">
                <h6 class="title">Admin Panel</h6>
                <h1>Products</h1>
                <hr />
            </div>
            <div id="search-area" class="row col-12">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control" id="search-rows" type="text" placeholder="Search.."></div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control d-none" id="refine-search" type="text" placeholder="refined.."></div>
            </div>
            <div class="col-12 col-md-12">


                <ul id="data-list" class="data-spacing row col-12">
                    <!-- Product starts -->
                    @Html.Raw(Model.getProducts())
                    <!-- Product Ends -->
                    
                </ul>

            </div>
        </div>


    </div>
    <!-- end of main -->