@page
@model FINAL.Pages.Admin.PromotionsModel
@{
}
<div class="row">
    <div class="col-12">
        <h6 class="title">Admin Panel</h6>
        <h1 class="Admin-Header">Promotions</h1>
        <hr />
    </div>
    <div id="search-area" class="row col-12">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control" id="search-rows" type="text" placeholder="Search.."></div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control d-none" id="refine-search" type="text" placeholder="refined.."></div>
    </div>
    <div class="col-12 col-md-12">
        <div id="data-header" class="row">
            <div class="col-6 col-md-4 col-xl-2 order-0 order-xl-0">
                <b>Promo Code</b>
            </div>
            <div class="d-none d-lg-block col-6 col-md-4 col-xl-2 order-3 order-xl-1">
                %
            </div>
            <div class="d-none d-lg-block col-6 col-md-4 col-xl-2 order-1 order-xl-2">
                Times Used
            </div>
            <div class="d-none d-lg-block col-6 col-md-4 col-xl-2 order-2 order-xl-3">
                Status
            </div>
            <div class="d-none d-lg-block col-6 col-md-4 col-xl-2 order-4 order-xl-4">
                Start Date
            </div>
            <div class="d-none d-lg-block col-6 col-md-4 col-xl-2 order-5 order-xl-5">
                End Date
            </div>
        </div>

        <ul class="list-group" id="data-list">
            <!-- Promotions starts -->
            @Html.Raw(Classes.Promotions.listPromotions())
            <!-- Promotions ends -->

        </ul>
        <a href="/Admin/AddPromo" class="btn btn-ouioui-primary">Create Promotion</a>

    </div>
</div>