@page
@model FINAL.Pages.Admin.UsersModel
@{
}

<div id="#admin-user-page" class="row">
    <div class="col-12">
        <h6 class="title">Admin Panel</h6>
        <h1>Users</h1>
        <hr />
    </div>

    <div id="search-area" class="row col-12">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control" id="search-rows" type="text" placeholder="Search.."></div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3"><input class="form-control d-none" id="refine-search" type="text" placeholder="refined.."></div>
    </div>

</div>

<div class="col-12 col-md-12">
    <div id="data-header" class="row">
        <div class="col-4 col-md-3 col-xl-3">
            <b># User ID</b>
        </div>
        <div class="d-none d-md-block col-5 col-md-3 col-xl-3">
            Name
        </div>
        <div class="d-none d-md-block col-5 col-md-2 col-xl-2">
            Type
        </div>
        <div class="d-none d-md-block col-5 col-md-2 col-xl-2">
            Orders
        </div>
        <div class="d-none d-md-block col-5 col-md-2 col-xl-2">
            Messages
        </div>
    </div>

    @Html.Raw(Classes.Users.getUsersHTML())


</div>
