
.nav-link, .navbar-brand {
    font-weight: bold;
    color: black !important;
}

.main-header .title {
    font-size: var(--text-size-xlarge) !important;
    font-weight: bold;
    /*margin-bottom:10%;*/
}

.main-header p {
    font-size: var(--text-size-reg) !important;
    margin-bottom: 25%;
}

.social-icons {
    width: 8rem;
}

#main-header-panel [class*="row"] {
    padding-bottom: 20px;
}

#main-header-panel {
    margin-top: 10%;
    padding-left: 6%;
    padding-right: 6%;
}

.page-2, .page-4 {
    background-color: #a3ccc8;
}


.page-2, .page-4 {
    width: 100%;
    margin-top: 50px;
    clip-path: polygon(0 90px, 100% 0%, 100% calc(100% - 90px), 0 100%);
}

.page-footer, .page-6 {
    width: 100%;
    margin-top: 50px;
    clip-path: polygon(0 90px, 100% 0%, 100% 100%, 0 100%);
}

.page-2, .page-4 {
    padding: calc(3% + 90px) 0 calc(3% + 90px) 0;
}

.page-footer {
    padding: calc(3% + 90px) 0 3% 0;
}
/*
.page-2-container .card {
    height: 100%;
}*/


.page-2-container .card h2 {
    font-weight: bold;
    text-align: center;
}


.section-header {
    font-weight: bold;
    text-align: center;
    font-size: var(--text-size-xlarge);
}

.main-buttons {
    text-align: center;
    margin-top: 5%;
    font-size: (--text-size-large);
}

.page-6 {
    background-image: url('https://github.com/nateainsworth/Group-24/blob/master/Group-24/wwwroot/images/shop-picture.png?raw=true');
    height: 100vh;
    margin-bottom: -140px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-row form {
    width: 100%;
}



.page-footer {
    background-color: #000000;
}

.page-footer-container {
    color: #ffffff;
    padding-left: 6%;
    padding-right: 6%;
}

.header-img {
    margin-top: -100px;
    width: 100%;
    right: 0;
}

.mobile-header-img {
    margin-top: -40px;
    width: 100%;
    right: 0;
}

.page-2-container {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
}



#carousel {
    margin: 5% 0;
}

.page-4 {
    min-height: calc(100vh + 10%);
}

.card-author {
    font-weight: bold;
}


.card-img-header {
    width: 100%;
}

.card-img-overlay {
    display: flex;
    align-items: flex-end;
    padding: 0;
}


.insta-card-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.3);
    /*-webkit-filter: blur(10px);*/
    z-index: 10;
}

.insta-card-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .75rem;
    margin: 0;
    z-index: 15;
    color: black;
}


.review-body {
    height: 30vh;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

    .review-body .card-body-txt {
        display: flex;
        align-items: center;
        margin: 0 !important;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
    }

.card-author {
    align-self: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.card-body-txt .card-title {
    align-self: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.page-5-container .card-deck {
    margin: 5% 0;
}


/* ******************************************* Responsive Sizing  ******************************************** */
@media (min-width: 576px) { /* sm size */
    .page-2-container {
        padding-right: 15%;
        padding-left: 15%;
    }
}

/* MD size and above unless over ridden in bigger sizes */
@media (min-width: 768px) {
}

/* LG size and above unless over ridden in bigger sizes */
@media (min-width: 992px) {
    .page-2-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* XL size and above */
@media (min-width: 1200px) {
    .subscribe-row {
        margin-top: -60px;
    }
}
/* ******************************************* Responsive Sizing END  ******************************************** */

/* *************************************************************************************************************** */
/* *************************************** NO CSS BELOW RESPONSIVE SIZING. *************************************** */
/* *************************************************************************************************************** */
