
.message-box {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.success-container {
    background: white;
    height: 480px;
    width: 90%;
    text-align: center;
}

.confirm-green-box {
    width: 100%;
    height: 140px;
    background: #d7f5da;
}


.monserrat-font {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
