@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    GC.Collect();
    String SessionID = HttpContextAccessor.HttpContext.Request.Cookies["SessionID"];
}
<body>
    <script src="~/lib/bootstrap/bootstrap-tagsinput.js">
    </script>
    <link rel="stylesheet" href="site.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>

