@page
@model FINAL.Pages.Products.AddModel
@{
}



<h1>Add Products</h1>

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <!-- <label asp-for="ImgRecord.ImgURL" class="custom-control-label"></label>
            <input type="text" asp-for="ImgRecord.ImgURL" class="form-control" /> -->
            <label>Select a Image to upload</label>
            <input type="file" asp-for="ImgFile" onchange="readURL(this)" accept="image/*" />
        </div>

        <input type="submit" value="Upload" class="btn btn-secondary" />
    </form>
    <br />
    <div>
        <img id="Img" class="img-upload-preview" src="" alt="User Image Upload" />
    </div>


</div>