body {
    background-color: #161c24;
    background-repeat: repeat;
    font-family: 'Bahnschrift Light';
}

#main {
    width: 60%;
    margin: 20px;
    height: 100%; 
    min-width: 1300px;
    max-width: 1550px;
}

#post {
    text-align: center;
    justify-content: center;
    height: 100%;
    border-radius: 15px;
    background-color: #161c24;
    width: 95%;
    overflow: hidden;
    margin-top: 20px;
}

.image {
    max-height: 425px;
}

.text {
    max-height: 200px;
}

.HeadingText {
    color: #66FCF1;
    font-size: 25pt;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 10px;
}

#headerMain {
    width: 100%;
    border-radius: 20px;
    background-color: #0b0c10;
    height: 350px;
}

#header{
    width:95%;
}

#feed {
    width: 72%;
    justify-content: center;
    height: 100%;
    float: left;
}

body {
    background-color: #0b0c10;
    border-radius: 20px;
}

#pagecontent {
    background-color: #0b0c10;
    margin-left: 3.5%;
    margin-top: 20px;
    overflow: hidden scroll;
    width: 98%;
    min-height: 800px;
    height: 100%;
    border-radius: 15px;
}

#rightPost {
    width: 10%;
    float: right;
    background-color: #0b0c10;
    height: 425px;
    border: solid 1px #0b0c10;
}

#leftPost {
    width: 88%;
    float: left;
    text-align: left;
}

.shadow-inner {
    box-shadow: inset 0px -11px 13px -10px #0b0c10;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

p {
    font-family: 'Bahnschrift Light';
}

#recentDiv {
    float: left;
    background-color: #0b0c10;
    width: 20%;
    border-radius: 15px;
    margin: 10px;
    margin-top: 30px;
    height: 800px;
}

.biggerDiv {
    float: left;
    background-color: #0b0c10;
    width: 38%;
    border-radius: 15px;
    margin: 10px;
    margin-top: 30px;
    height: 800px;
}

#messageInput {
    background-color: #161c24;
    border: none;
    padding: 10px 20px;
    color: #66FCF1;
    font-family: 'Bahnschrift Light';
    font-size: 13pt;
    width: 85%;
    float: left;
}

#sendButton {
    float: right;
    background-color: #161c24;
    border: none;
    color: #66FCF1;
    font-family: 'Bahnschrift Light';
    font-size: 17pt;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#messageButton {
    border-radius: 20px;
    overflow: hidden;
    width: 95%;
    background-color: #161c24;
    height: 40px;
    margin-top: 20px;
}


#mainContactDiv {
    border-radius: 40px;
    width: 90%;
    height: 70px;
    background-color: #161c24;
    cursor: pointer;
    margin-top: 10px;
}

#ContactImage {
    width: 20%;
    float: left;
}

#ContactText {
    width: 80%;
    float: right;
    text-align: left;
}

#ContactText h2 {
    color: #66FCF1;
    font-size: 15pt;
    margin-top:22px;
}

#message {
    width: calc(50% - 59px);
    height: 100%;
    padding: 2px 20px;
    border-radius: 30px;
    margin: 10px;
    text-align: left;
}

.sent {
    float: right;
    background-color: #66FCF1;
}

.received {
    float: left;
    background-color: #161c24;
}

.sent p {
    color: #0b0c10;
}

.received p {
    color: #c2c2c2;
}

#nav {
    background-color: transparent;
    color: #66FCF1;
    width: 100%;
    height: 60px;
}

h1, h2, h3, h4 {
    font-family: 'Bahnschrift Light';
}

.button {
    background-color: transparent;
    color: #66FCF1;
    border: solid 2px #66FCF1;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 25px;
    margin-right: 25px;
    font-family: 'Bahnschrift Light';
    font-size: 12pt;
    cursor: pointer;
}

.shadow {
    box-shadow: 0px 0px 0px #2f6163, 0 0 10px #2f6163, 0 0 1px #2f6163;
}

.shadow-main {
    box-shadow: 0px 0px 0px #367374, 0 0 10px #367374, 0 0 1px #367374;
}

.shadow-dark {
    box-shadow: 0px 0px 0px #08080b, 0 0 10px #08080b, 0 0 1px #08080b;
}

.shadow2 {
    box-shadow: 1px 1px 1px #08090c, 0 0 10px #08090c, 0 0 2px #08090c;
}

#content {
    width: 95%;
    margin: 20px;
    min-height: 800px;
    height: 100%;
    background-color: #0b0c10;
    border-radius: 20px;
    float: left;
    overflow: hidden scroll;
}

#contentsmall {
    width: 105%;
    margin: 20px;
    min-height: 300px;
    height: 95%;
    background-color: #0b0c10;
    border-radius: 20px;
    float: right;
    overflow: hidden scroll;
    position: sticky;
}

#contentmain {
    width: 95%;
    min-height: 800px;
    height: 100%;
    background-color: #08090b;
    border: 1px solid #08090b;
    border-radius: 20px;
    float: left;
    overflow: hidden scroll;
    margin: 20px 5%;
}

#communities {
    background-image: url("/images/backg.png");
    background-repeat: no-repeat;
    background-size: 100% 70px;
    border-radius: 15px;
    width: 90%;
    height: 60px;
    overflow: hidden;
}

#chats {
    background-image: url("../images/backg2.png");
    background-repeat: no-repeat;
    background-size: 100% 70px;
    border-radius: 15px;
    width: 90%;
    height: 60px;
}

#posts {
    background-color: #161c24;
    width: 90%;
    height: 400px;
    border-radius: 15px;
}

#search {
    width: 80%;
    min-height: 800px;
    color: #66FCF1;
}

.searchcontainer {
    width: calc(50% - 22px);
    height: 80%;
    background-color: #0b0c10;
    min-height: 600px;
    float: left;
    margin-top: 20px;
    margin-right: 22px;
    border-radius: 15px;
}

.textbox {
    background-color: #0b0c10;
    color: #66FCF1;
    border-radius: 10px;
    height: 40px;
    font-family: 'Bahnschrift Light';
    font-size: 11pt;
    border: solid 1px #0b0c10;
    margin-top: 20px;
    float: left;
    width: calc(100%-20px);
    resize: none;
    padding: 10px 10px;
}

.button2 {
    border-radius: 50%;
    background-color: #0b0c10;
    width: 40px;
    border: solid 1px #0b0c10;
    height: 40px;
    font-family: 'Bahnschrift Light';
    color: #66FCF1;
    margin-top: 30px;
}


.searchMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #161c24;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    overflow: hidden;
}

    .searchMenu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .searchMenu a:hover {
            color: #f1f1f1;
        }

    .searchMenu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #66FCF1;
    }

@media screen and (max-height: 450px) {
    .searchMenu {
        padding-top: 15px;
    }

        .searchMenu a {
            font-size: 18px;
        }
}

::-webkit-scrollbar {
    width: 0px;
    border-radius: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #137f79;
    }

body {
    overflow: hidden scroll;
}

body {
    font-family: "Lato", sans-serif;
}

.chatMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #161c24;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

    .chatMenu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .chatMenu a:hover {
            color: #f1f1f1;
        }

    .chatMenu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #66FCF1;
    }

@media screen and (max-height: 450px) {
    .chatMenu {
        padding-top: 15px;
    }

        .chatMenu a {
            font-size: 18px;
        }
}

.gradient {
    background: linear-gradient(-45deg, #161c24, #001d1f, #161c24, #001d1f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.gradient-light {
    background: linear-gradient(-45deg, #03060e, #, #030304, #03060e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
