@page
@model Group_Project.Models.BasketModel
@{
}

<button onclick="window.location.href = '/Checkout';">Checkout</button>

<div id="productShowcase">
    @Html.Raw(Classes.Basket.getBasketHtml(HttpContext.Request.Cookies["SessionID"]))
    <h1>TOTAL PRICE: @Classes.Basket.getTotalPrice(Classes.UserFunctions.getUserID(HttpContext.Request.Cookies["SessionID"]))</h1>
</div>


