@page
@model Group_Project.Models.CheckoutModel
@{
}

<link rel="stylesheet" href="~/css/site.css">
<script src="~/js/main.js"></script>

<div class="covid-cont" id="covid-notification">
    <div clall="row">
        <p>Due to COVID-19 situations the products will be shipped after the lockdown has ended. More informaiton can be found <a href="https://upload.wikimedia.org/wikipedia/commons/7/76/Boris_Johnson_official_portrait_%28cropped%29.jpg">here</a>. <button style="float:right;" onclick="RemoveMessage();" id="create-btn" class="btn btn-order-page margin-left-5px">Okay</button></p>

    </div>
</div>

<div class="container">
    <form asp-action="@Model.checkout()">
        <div class="row">
            <div class="col-12 spacing_top"> <h1>Billing details</h1></div>
            <div class="col-12 col-md-6">

                <div class="col-12 delivery_container">
                    <a onclick="ToggleMenu();"><p style="cursor: pointer;">DELIVERY DETAILS</p></a>
                </div>
                <div id="delivery-menu">
                    <div class="col-12 spacing_top">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="UserName">First name</label>
                                    <input type="text" class="form-control" id="UserName" name="name" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="UserLastName">Last name</label>
                                    <input type="text" class="form-control" id="UserLastName" name="surname" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="Useraddress">Street address</label>
                            <input type="text" class="form-control" id="Useraddress" name="addressline1" placeholder="Address Line 1" required>
                            <p></p>
                            <input type="text" class="form-control" id="Useraddress" name="addressline2" placeholder="Apartament, suite, unit etc. (optional)" required>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="Useraddress2">Town / City</label>
                            <input type="text" class="form-control" id="Useraddress2" required>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="UserPostCode">Postcode</label>
                            <input type="text" class="form-control" id="UserPostCode" name="postcode" required>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="UserNo">Phone number</label>
                            <input type="number" class="form-control" id="UserNo" name="phonenumber" required>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="UserEmail">Email address</label>
                            <input type="email" class="form-control" id="UserEmail" name="email" required>
                        </div>
                    </div>

                </div>
                <div class="spacing_top"></div>
                <div class="col-12 delivery_container ">
                    <a onclick="ToggleMenu();"><p style="cursor: pointer;">PAYMENT DETAILS</p></a>
                </div>

                <div id="payment-menu" class="d-none">
                    <br>
                    <div class="col-12">
                        <div class="row">

                            <div class="col-8">
                                <div class="form-group">
                                    <label for="UserCardNo">Credit card number:</label>
                                    <div class="">
                                        <div class="row card_date">
                                            <input type="num" style="width:20%" class="form-control" maxlength="4" name="cardnumber1" required />
                                            <input type="num" style="width:20%" class="form-control" maxlength="4" name="cardnumber2" required />
                                            <input type="num" style="width:20%" class="form-control" maxlength="4" name="cardnumber3" required />
                                            <input type="num" style="width:20%" class="form-control" maxlength="4" name="cardnumber4" required />
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="UserCardMonth">Expires:</label>
                                    <div class="col-12">
                                        <div class="row card_date">
                                            <input type="num" placeholder="MM" class="form-control" id="UserCardMonth" name="expiry1" style="width:45%" required>
                                            <input type="num" placeholder="YY" class="form-control" id="UserCardYear" name="expiry2" style="width:45%" required>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <br>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group ">
                                    <label for="UserCardNo">Name on creadit card:</label>
                                    <input type="text" class="form-control" id="UserCardNo" style="width: 100%" required>
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="UserCardNo">CVC:</label>
                                    <input type="number" class="form-control" id="UserCardNo" name="cv2" required>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>




            <div class="col-12 col-md-6">
                <div class"row">
                    <div class="">
                        <p>Order notes (optional)</p>
                        <div class="form-group">
                            <textarea name="" id="" class="form-control" style="width:100%;" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="col-12 order_details">
                        <br>
                        <h4>Your order</h4>
                        <div class="row">
                            <div class="col-12">
                                <p style="float: left;">PRODUCT</p>
                                <p style="float: right;">TOTAL</p>
                            </div>
                        </div>
                        <hr>
                        <div style="overflow-y:scroll; height:40vh;">
                            @Html.Raw(Model.getCheckoutItemsHtml(HttpContext.Request.Cookies["SessionID"]))
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-12">
                                <p style="float: left;">Total</p>
                                <p style="float: right;">₹5.54</p>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="">privacy policy</a>.</p>
                        </div>
                        <br>
                        <div class="col-12">
                            <button id="create-btn" class="btn btn-order-page margin-left-5px">PLACE ORDER</button>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="col-12"></div>
                    <div class="col-12"></div>
                </div>
            </div>

        </div>
    </form>

</div>

