@page
@model FINAL.Pages.ProductDetailModel
@{
}

<link rel="stylesheet" href="~/css/site.css">
<script src="~/js/main.js"></script>

<!-- start of nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">OUI OUI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SHOP</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">
                    ABOUT US
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LOGIN</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item login-logout-btn">
                <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i>{QUANTITY}</a>
            </li>
        </ul>
    </div>
</nav>
<!-- end of nav-->

<!-- start of main -->
<div class="container" id="product-page">

    <div class="row" id="Product-description">
        <div class="col-12">
            <div class="row">
                <a href="#"><i class="bi bi-backspace"></i><p style="padding-left: 5px;">back</></a>
            </div>
        </div>
        <div class="col-12">
            <h1>DAISY STREET</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://www.apricotonline.co.uk/pub/media/catalog/product/cache/f8158826193ba5faa8b862a9bd1eb9e9/f/1/f1_5051839500662.jpg" style="width: 100%; height: 100%;" alt="...">
        </div>

        <!-- Product information and form -->
        <div class="col-12 col-md-6">
            <div class"row">
                <div id="product-info-container">
                    <div class="col-12">
                        <h5>DAISY STREET mini smock dress in ditsy flora</h5>
                        <p>₹ <span>{price}</span></p>
                    </div>
                </div>



                <div class="col-12">
                    <p style="margin-bottom: 5px;">PRODUCT DETAILS</p>
                </div>

                <div id="product-info-container">
                    <div class="col-12" id="product-desc">
                        This dress is actually amazing. just look at the flowers, like omaigad! Amazing feel for any woomen out there. Perfect for any type of event, holidays, anaversary,
                        funerals. Oh and sorry for wasting your time here im just tring to fill this empty space so Nate thinks that I can programme in css and html so I don't look like a looser and maybe this way people will stop bulling me.
                    </div>
                </div>

                <div id="product-info-container">
                    <div class="col-12">
                        <p style="margin-bottom: 5px;">BRAND</p>
                    </div>
                    <div class="col-12" id="product-desc"> From Lithuania, Vilnius. Produced by "Pull & Bear."</div>
                </div>


                <div id="product-info-container">
                    <div class="col-12">
                        <p style="margin-bottom: 5px;">MATERIALS</p>
                    </div>
                    <div class="col-12" id="product-desc"> Linen-mix fabric 90% <br> cotton 10%</div>
                </div>

                <div id="product-info-container">
                    <div class="col-12">
                        <p style="margin-bottom: 5px;">COLOR</p>
                    </div>
                    <div class="col-12" id="product-desc"> Green leaf</div>
                </div>

                <div class="col-12">
                    <p style="margin-bottom: 5px;">ORDER DETAILS</p>
                </div>
                <div class="col-12" id="product-desc"> In stock: {stock}</div>

                <div class="col-12">

                    <div class="quantity-input-group input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn" type="button" id="button-addon1" onclick="lowerQuantity()"><i class="fas fa-minus"></i></button>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="1" id="quantityvalue">
                        <div class="input-group-append">
                            <button class="btn" type="button" id="button-addon2" onclick="incrementquantity()"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-12">

                    <label for="exampleFormControlSelect1">Size:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <!-- loop the available options -->
                        <option>XS</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>
                </div>

                <div class="col-12" style="padding-top: 20px">
                    <button id="create-btn" class="btn btn-ouioui-secondary margin-left-5px">Add to basket</button>
                </div>


            </div>
        </div>
    </div>
    <div class="row" id="other-products">
        <div class="col-12">
            <h6>SIMMILAR PRODUCTS</h6>
        </div>
    </div>
    <div class="col-12 ">
        <div class="row">

            <div class="col-12 col-md-6 col-xl-3 smaller-image">
                <img ] src="https://images.asos-media.com/products/asos-design-floral-drape-sleeve-midi-dress/13339918-1-purplefloral?$XXL$&wid=513&fit=constrain" alt="" style="width: 100%">
            </div>
            <div class="col-12 col-md-6 col-xl-3 smaller-image">
                <img src="https://images.asos-media.com/products/asos-design-one-shoulder-tuck-detail-midi-dress/11982354-1-blush?$XXL$&wid=513&fit=constrain" alt="" style="width: 100%">
            </div>
            <div class="col-12 col-md-6 col-xl-3 smaller-image">
                <img src="https://images.asos-media.com/products/asos-design-midi-tiered-smock-dress-in-floral-print/14832906-1-floralprint?$XXL$&wid=513&fit=constrain" alt="" style="width: 100%">
            </div>
            <div class="col-12 col-md-6 col-xl-3 smaller-image">
                <img src="https://images.asos-media.com/products/asos-design-cord-midi-smock-dress-in-bright-pink/13022133-4?$XXL$&wid=513&fit=constrain" alt="" style="width: 100%">
            </div>
        </div>


    </div>

</div>
<!-- end of main -->